@charset "UTF-8";
/*COLORES*/
/*---------------------ETIQUETAS Y CLASES GLOBALES---------------*/
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #fff7f7; }

.titulo {
  font-size: 50px;
  color: black;
  text-align: left;
  font-style: italic;
  font-family: 'Dancing Script', cursive; }

header {
  width: 100%;
  background-image: linear-gradient(#e448c2, #66d6e0); }

nav {
  font-size: 20px;
  color: black;
  text-align: center;
  font-style: italic; }
  nav a {
    margin-left: 20px;
    display: inline-block; }

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-align: center; }

p {
  color: black;
  line-height: 1.5;
  font-family: 'Arial', sans-serif;
  text-align: justify;
  font-size: 15px; }

h1 {
  font-size: 40px;
  color: #921176;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px; }

.boton, .botonProductos, .botonPreguntas {
  font-size: 15px;
  color: #921176;
  text-align: center;
  padding: 2px;
  width: 40%;
  font-weight: bold; }
  .boton:hover, .botonProductos:hover, .botonPreguntas:hover {
    background-color: #66d6e0;
    color: black; }

.card {
  word-wrap: inherit; }

.card-text {
  padding: 10px; }

.footer {
  background-image: linear-gradient(#66d6e0, #e448c2);
  color: #921176;
  margin-right: 0px; }

.logoFooter {
  width: 40%;
  padding-left: 2%;
  padding-top: 2%; }

.carrito {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 3vh; }

/*-----------------SECCIÓN INICIO---------------*/
h3 {
  font-size: 18px; }

.productos {
  font-size: 25px;
  color: #66d6e0;
  text-align: center;
  font-style: italic; }

.fotosProductos {
  width: 80%;
  text-align: center;
  border-radius: 10px; }

.cardPrincipales {
  margin: 1%; }

.botonProductos {
  width: 100%; }

.pedir {
  font-size: 40px;
  color: #921176;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(../images/fondo-pedir.jpg);
  background-repeat: repeat;
  font-weight: bold;
  padding: 10px 0px 10px 0px;
  height: 50%; }

.cardEntrega {
  background-color: #ffffff10;
  backdrop-filter: blur(2px);
  border: 1px solid #66d6e0;
  width: 40%;
  border-radius: 1%; }

.entrega {
  border: 1px solid black;
  margin: 3%;
  height: 15vh; }
  .entrega:hover {
    background-image: linear-gradient(#c0f9f1, #66d6e0); }

.subtitulo {
  font-size: 20px; }

.video {
  width: 100%;
  height: 600px; }

.ubicacion {
  font-size: 18px;
  color: #921176;
  text-align: center;
  margin-top: 30px;
  font-style: italic;
  background-color: azure;
  margin-right: 0px; }

.mapa {
  transition: all 2s; }
  .mapa:hover {
    transform: scale(1.3, 1.3); }

/*-------- SECCION PRODUCTOS---------------*/
.cajaProducto {
  font-size: 20px;
  color: #66d6e0;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 11vh; }

.fondoCard {
  background-color: azure; }

.pideAqui {
  font-size: 30px;
  color: #921176;
  text-align: center;
  font-style: italic;
  border-radius: 5%; }

.fondoPideAqui {
  background-color: azure; }

.precio {
  font-size: 20px;
  color: #921176;
  text-align: center;
  font-weight: bold; }

.descripcion {
  font-size: 17px;
  color: black;
  text-align: center; }

.boxProductos {
  height: 35vh; }

.card-text {
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.productos {
  padding: 0% 1% 1% 1%; }

.botonEliminar {
  color: #921176;
  background-color: azure;
  border: none;
  font-size: 20px; }

.botonEliminar :hover {
  cursor: pointer; }

.botonEliminar :focus {
  outline: none; }

#botonCarrito {
  font-size: 25px;
  border: none;
  color: #921176;
  border-radius: 40%;
  padding: 10px;
  transition: all .3s; }

#botonCarrito:hover {
  cursor: pointer;
  color: #fff7f7;
  background-color: #921176; }

#botonCarrito:focus {
  outline: none; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden; }

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5; }

.modal-carrito {
  position: relative;
  background-color: azure;
  min-width: 500px;
  padding: 20px;
  transition: all .5s; }

.modal-active .modal-carrito {
  margin-top: 0; }

.modal-carrito {
  color: #921176; }

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #921176;
  border: none;
  background-color: azure; }

.modal-carrito #carritoCerrar:hover {
  cursor: pointer; }

.modal-carrito #carritoCerrar:focus {
  outline: none; }

.modal-carrito .precioProducto {
  padding-top: 10px; }

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; }

.productoEnCarrito:hover {
  border-left: 5px solid #e448c2; }

/*------------SECCIÓN PEDIDOS A TU MEDIDA-------*/
.seccionesPedidos {
  margin-bottom: 4%; }

.subtituloPedidos {
  color: #921176;
  font-style: italic; }

.fotosCatering {
  width: 400px;
  padding: 1%; }

.galleriaCatering {
  display: flex;
  flex-direction: column;
  align-items: center; }

.cajaFormulario {
  margin-left: 2%; }

/*---------SECCIÓN PREGUNTAS FRECUENTES--------*/
.boxPreguntas {
  padding: 10px;
  border: 2px groove;
  border-color: #921176;
  margin: 22px;
  background-color: azure; }

.botonPreguntas {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  font-size: 15px; }

/*---------------SECCIÓN CONTACTO--------------*/
.datos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

.formularioContacto {
  line-height: 30px;
  padding-right: 5%; }

.mensajeBonito {
  padding-left: 5%; }

.textoContacto {
  font-size: 20px;
  color: #e448c2;
  text-align: center;
  font-style: italic; }

/*-------------------------RESPONSIVE - GENERALES--------------------------*/
@media all and (max-width: 599px) {
  h1 {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .logoFooter {
    width: 45%; } }

@media (min-width: 600px) and (max-width: 768px) {
  h1 {
    font-size: 35px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .logoFooter {
    width: 45%; } }

/*-------------------------RESPONSIVE - INICIO--------------------------*/
@media all and (max-width: 599px) {
  .productos {
    font-size: 22px; }
  .entrega {
    height: 22vh; }
  .cardEntrega {
    width: 100%; }
  .subtitulo {
    font-size: 15px; }
  .video {
    width: 100%;
    height: 300px; } }

@media (min-width: 600px) and (max-width: 768px) {
  .productos {
    font-size: 28px; }
  .entrega {
    height: 20vh; }
  .cardEntrega {
    width: 100%; }
  .subtitulo {
    font-size: 18px; }
  .video {
    width: 100%;
    height: 500px; } }

/*-------------------------RESPONSIVE - PRODUCTOS-------------------------*/
@media all and (max-width: 599px) {
  .cajaProducto {
    height: 4vh; }
  .boxProductos {
    height: 15vh; }
  .card {
    margin-bottom: 2%; } }

@media (min-width: 600px) and (max-width: 768px) {
  .cajaProducto {
    height: 6vh; }
  .boxProductos {
    height: 16vh; }
  .card {
    margin-bottom: 2%; } }

/*-------------------------RESPONSIVE - PEDIDOS A TU MEDIDA-------------------------*/
@media all and (max-width: 768px) {
  .galleriaCatering {
    display: none; }
  .input-group-text {
    font-size: 14px; }
  .boton, .botonProductos, .botonPreguntas {
    font-size: 13px; } }

/*-------------------------RESPONSIVE - CONTACTO--------------------------*/
@media all and (max-width: 599px) {
  .textoContacto {
    font-size: 17px; } }

@media (min-width: 600px) and (max-width: 768px) {
  .textoContacto {
    font-size: 19px; } }
