/*---------------SECCIÓN CONTACTO--------------*/

.datos{
    @include flex (flex,row,space-evenly); 
    align-items: center;
}


.formularioContacto{
    line-height: 30px;
}

.mensajeBonito{
    padding-left: 5%;
}

.textoContacto{
    @include propiedadesTexto(20px,$rosa,center); 
    font-style: italic;
}
