/*-----------------SECCIÓN INICIO---------------*/

.productos{
    @include propiedadesTexto(25px,$azul,center); 
    font-style: italic;
}

.fotosProductos{
    width: 80%;
    text-align: center;
    border-radius: 10px;
}

.botonProductos{
    @extend .boton;
    width: 100%;
}

.pedir{
    @include propiedadesTexto(40px,$morado,center); 
    background-image: url(../images/fondo-pedir.jpg);
    background-repeat: repeat;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 55vh;
}

.cardEntrega{
    background-color: #ffffff10;
    backdrop-filter: blur(2px);
    border: 1px solid $azul;
    width: 50%;
    border-radius: 1%;
}

.entrega{
    border: 1px solid $negro;
    margin: 3%;
    height: 20vh;
    &:hover{
        background-image: linear-gradient(#c0f9f1, $azul);
    }
}

.subtitulo{
    font-size: 20px;
}

.video{
    width: 100%;
    height: 600px;
}

.ubicacion{
    @include propiedadesTexto(18px,$morado,center); 
    margin-top: 30px;
    font-style: italic;
    background-color: azure;
    margin-right: 0px;
}

.mapa{
    transition: all 2s;

    &:hover {
        transform: scale(1.3, 1.3); }
    
}


