@mixin propiedadesTexto ($font-size,$color,$text-align){
    font-size: $font-size;
    color: $color;
    text-align: $text-align;
}

@mixin flex ($display,$flex-direction,$justify-content){
    display: $display;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}