/*-------- SECCION PRODUCTOS---------------*/


.cajaProducto{
    @include propiedadesTexto(20px,$azul,center); 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 11vh;
}

.fondoCard{
    background-color: $azure;
}

.pideAqui{
    @include propiedadesTexto(30px,$morado,center); 
    font-style: italic;
    border-radius: 5%;
}

.fondoPideAqui{
    background-color: $azure;
}

.precio{
    @include propiedadesTexto(20px,$morado,center);
    font-weight: bold;
}

.descripcion{
    @include propiedadesTexto(17px,$negro,center); 
}

.boxProductos{
    height: 35vh;
}

.card-text{
    padding-bottom: 0;
    display: flex;
    flex-direction: wrap;
    text-align: center;
}

.productos{
    padding: 0% 1% 1% 1%;
}

